In [60]:
# Importing all the required libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [61]:
# Loading the Dataset
df = pd.read_csv("british_airways_reviews_extended.csv")

# head function prints the top 5 rows of the Dataset.
df.head()

,review_title,reviewer_name,reviews,stars,date,country,trip_verified,cabin_class,aircraft,route,date_of_travel,helpful_votes
0,Customer Reviews,Robert Bone(United Kingdom)3rd April 2025,Not Verified| LHR T5 BA Gold Wing worked well...,5,3rd April 2025,United Kingdom,No,Business,Boeing 777 200,London to Seattle,April 2025,0
1,"""one of the best BA First flights I’ve had""",J Jones(United Kingdom)31st March 2025,Not Verified| Very good service on this route...,9,31st March 2025,United Kingdom,No,Couple Leisure,A320,London Gatwick to Fuerteventura,March 2025,0
2,"""Very good service on this route""",10 reviewsJ Meares(United Kingdom)19th March 2025,✅Trip Verified| Flight mainly let down by a ...,10,19th March 2025,United Kingdom,Yes,Solo Leisure,Boeing 787,Cape Town to London,March 2025,0
3,"""disagreeable flight attendant""",Luis De Jesus(United States)16th March 2025,✅Trip Verified| Another awful experience by ...,7,16th March 2025,United States,Yes,Business,Boeing 777,London to Geneva,December 2024,0
4,"""flight was delayed nearly 1 hour""",Luis De Jesus(United States)16th March 2025,"✅Trip Verified| The service was rude, full o...",1,16th March 2025,United States,Yes,Business,A350,London to New York,January 2025,0

In [62]:
# Checking for the NULL values count in the Dataset.
df.isnull().count()

review_title      2046
reviewer_name     2046
reviews           2046
stars             2046
date              2046
country           2046
trip_verified     2046
cabin_class       2046
aircraft          2046
route             2046
date_of_travel    2046
helpful_votes     2046
dtype: int64

In [63]:
# Checking all the Columns and Datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2046 entries, 0 to 2045
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   review_title    2046 non-null   object
 1   reviewer_name   2046 non-null   object
 2   reviews         2046 non-null   object
 3   stars           2046 non-null   int64
 4   date            2046 non-null   object
 5   country         2046 non-null   object
 6   trip_verified   2046 non-null   object
 7   cabin_class     2046 non-null   object
 8   aircraft        2046 non-null   object
 9   route           2046 non-null   object
 10  date_of_travel  2046 non-null   object
 11  helpful_votes   2046 non-null   int64
dtypes: int64(2), object(10)
memory usage: 191.9+ KB

In [64]:
# Renamking the Column from date to review_date
df = df.rename(columns={'date':'review_date'})

df.head()

,review_title,reviewer_name,reviews,stars,review_date,country,trip_verified,cabin_class,aircraft,route,date_of_travel,helpful_votes
0,Customer Reviews,Robert Bone(United Kingdom)3rd April 2025,Not Verified| LHR T5 BA Gold Wing worked well...,5,3rd April 2025,United Kingdom,No,Business,Boeing 777 200,London to Seattle,April 2025,0
1,"""one of the best BA First flights I’ve had""",J Jones(United Kingdom)31st March 2025,Not Verified| Very good service on this route...,9,31st March 2025,United Kingdom,No,Couple Leisure,A320,London Gatwick to Fuerteventura,March 2025,0
2,"""Very good service on this route""",10 reviewsJ Meares(United Kingdom)19th March 2025,✅Trip Verified| Flight mainly let down by a ...,10,19th March 2025,United Kingdom,Yes,Solo Leisure,Boeing 787,Cape Town to London,March 2025,0
3,"""disagreeable flight attendant""",Luis De Jesus(United States)16th March 2025,✅Trip Verified| Another awful experience by ...,7,16th March 2025,United States,Yes,Business,Boeing 777,London to Geneva,December 2024,0
4,"""flight was delayed nearly 1 hour""",Luis De Jesus(United States)16th March 2025,"✅Trip Verified| The service was rude, full o...",1,16th March 2025,United States,Yes,Business,A350,London to New York,January 2025,0

In [65]:
# Converting all the Column names to lower
df.columns = df.columns.str.lower()

df.head()

,review_title,reviewer_name,reviews,stars,review_date,country,trip_verified,cabin_class,aircraft,route,date_of_travel,helpful_votes
0,Customer Reviews,Robert Bone(United Kingdom)3rd April 2025,Not Verified| LHR T5 BA Gold Wing worked well...,5,3rd April 2025,United Kingdom,No,Business,Boeing 777 200,London to Seattle,April 2025,0
1,"""one of the best BA First flights I’ve had""",J Jones(United Kingdom)31st March 2025,Not Verified| Very good service on this route...,9,31st March 2025,United Kingdom,No,Couple Leisure,A320,London Gatwick to Fuerteventura,March 2025,0
2,"""Very good service on this route""",10 reviewsJ Meares(United Kingdom)19th March 2025,✅Trip Verified| Flight mainly let down by a ...,10,19th March 2025,United Kingdom,Yes,Solo Leisure,Boeing 787,Cape Town to London,March 2025,0
3,"""disagreeable flight attendant""",Luis De Jesus(United States)16th March 2025,✅Trip Verified| Another awful experience by ...,7,16th March 2025,United States,Yes,Business,Boeing 777,London to Geneva,December 2024,0
4,"""flight was delayed nearly 1 hour""",Luis De Jesus(United States)16th March 2025,"✅Trip Verified| The service was rude, full o...",1,16th March 2025,United States,Yes,Business,A350,London to New York,January 2025,0

In [66]:
# Dropping the Unnecessary Columns
df.drop(columns=['trip_verified', 'helpful_votes'], inplace=True)

df.head()

,review_title,reviewer_name,reviews,stars,review_date,country,cabin_class,aircraft,route,date_of_travel
0,Customer Reviews,Robert Bone(United Kingdom)3rd April 2025,Not Verified| LHR T5 BA Gold Wing worked well...,5,3rd April 2025,United Kingdom,Business,Boeing 777 200,London to Seattle,April 2025
1,"""one of the best BA First flights I’ve had""",J Jones(United Kingdom)31st March 2025,Not Verified| Very good service on this route...,9,31st March 2025,United Kingdom,Couple Leisure,A320,London Gatwick to Fuerteventura,March 2025
2,"""Very good service on this route""",10 reviewsJ Meares(United Kingdom)19th March 2025,✅Trip Verified| Flight mainly let down by a ...,10,19th March 2025,United Kingdom,Solo Leisure,Boeing 787,Cape Town to London,March 2025
3,"""disagreeable flight attendant""",Luis De Jesus(United States)16th March 2025,✅Trip Verified| Another awful experience by ...,7,16th March 2025,United States,Business,Boeing 777,London to Geneva,December 2024
4,"""flight was delayed nearly 1 hour""",Luis De Jesus(United States)16th March 2025,"✅Trip Verified| The service was rude, full o...",1,16th March 2025,United States,Business,A350,London to New York,January 2025

In [67]:
# Remove "✅ Trip Verified" and "Not Verified" from reviews
df["reviews"] = df["reviews"].str.replace(r"✅\s*Trip Verified\s*\|?\s*", "", regex=True)
df["reviews"] = df["reviews"].str.replace(r"Not Verified\s*\|?\s*", "", regex=True)

# Show the first few cleaned reviews
df.head(10)

,review_title,reviewer_name,reviews,stars,review_date,country,cabin_class,aircraft,route,date_of_travel
0,Customer Reviews,Robert Bone(United Kingdom)3rd April 2025,LHR T5 BA Gold Wing worked well. Pleasant chec...,5,3rd April 2025,United Kingdom,Business,Boeing 777 200,London to Seattle,April 2025
1,"""one of the best BA First flights I’ve had""",J Jones(United Kingdom)31st March 2025,Very good service on this route BA2710 30th Ma...,9,31st March 2025,United Kingdom,Couple Leisure,A320,London Gatwick to Fuerteventura,March 2025
2,"""Very good service on this route""",10 reviewsJ Meares(United Kingdom)19th March 2025,Flight mainly let down by a disagreeable fligh...,10,19th March 2025,United Kingdom,Solo Leisure,Boeing 787,Cape Town to London,March 2025
3,"""disagreeable flight attendant""",Luis De Jesus(United States)16th March 2025,Another awful experience by British Airways. T...,7,16th March 2025,United States,Business,Boeing 777,London to Geneva,December 2024
4,"""flight was delayed nearly 1 hour""",Luis De Jesus(United States)16th March 2025,"The service was rude, full of attitude to me, ...",1,16th March 2025,United States,Business,A350,London to New York,January 2025
5,"""full of attitude to me""",Luis De Jesus(United States)16th March 2025,This flight was a joke. There was four people ...,3,16th March 2025,United States,Business,A320,Chambery to London,January 2025
6,"""service was outrageous""",38 reviewsPaul Mercer(United Kingdom)7th March...,This time British Airways managed to get every...,1,7th March 2025,United Kingdom,Business,A350-1000,Gatwick to Antigua,March 2025
7,"""managed to get everything right""",A Warden(United Kingdom)28th February 2025,"The seats were excellent, with a feel of much ...",9,28th February 2025,United Kingdom,Couple Leisure,A380,Mumbai to London,February 2025
8,"""The seats were excellent""",John Prescott(United Kingdom)27th February 2025,After the nightmare of getting through triple ...,9,27th February 2025,United Kingdom,Couple Leisure,Boeing 777,Nairobi to London,February 2025
9,"""the crew were awful""",C Barton(United Kingdom)21st February 2025,Prior to boarding a gate agent seemed to pick ...,5,21st February 2025,United Kingdom,Solo Leisure,A320,London Gatwick to Marrakech,February 2025

In [68]:
# Function to clean ordinal suffixes like '1st', '2nd', '3rd', '4th'
def clean_date(date_str):
    if pd.isna(date_str):
        return date_str
    return re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)

# Apply cleaning
df['review_date'] = df['review_date'].astype(str).apply(clean_date)
df['date_of_travel'] = df['date_of_travel'].astype(str).apply(clean_date)

# Convert to datetime with a specified format
df['review_date'] = pd.to_datetime(df['review_date'], format="%d %B %Y", errors='coerce')
df['date_of_travel'] = pd.to_datetime(df['date_of_travel'], format="%B %Y", errors='coerce')

# Check the output
print(df[['review_date', 'date_of_travel']].head())

  review_date date_of_travel
0  2025-04-03     2025-04-01
1  2025-03-31     2025-03-01
2  2025-03-19     2025-03-01
3  2025-03-16     2024-12-01
4  2025-03-16     2025-01-01

In [69]:
print(df['date_of_travel'])

0      2025-04-01
1      2025-03-01
2      2025-03-01
3      2024-12-01
4      2025-01-01
          ...
2041   2017-02-01
2042   2017-02-01
2043   2017-02-01
2044   2017-02-01
2045   2017-01-01
Name: date_of_travel, Length: 2046, dtype: datetime64[ns]

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2046 entries, 0 to 2045
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   review_title    2046 non-null   object
 1   reviewer_name   2046 non-null   object
 2   reviews         2046 non-null   object
 3   stars           2046 non-null   int64
 4   review_date     2046 non-null   datetime64[ns]
 5   country         2046 non-null   object
 6   cabin_class     2046 non-null   object
 7   aircraft        2046 non-null   object
 8   route           2046 non-null   object
 9   date_of_travel  2046 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 160.0+ KB

Now the Data has Been Cleaned Sucessfully